* {
  font-family: Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}